
<!-- Control visualization -->
<div style="text-align:center;">
<svg id="{{html_element_id}}" width="800" height="400"></svg>
</div>

<!-- Libraries for JSBayes-viz -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{{ url_for('static', filename='node_modules/d3/d3.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/lodash/lodash.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/graphlib/dist/graphlib.core.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/dagre/dist/dagre.core.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/jsbayes/jsbayes.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/better-jsbayes-viz/jsbayes-viz.js') }}"></script>

<style>
  svg { border: 1px solid black; }
  svg g rect.node-shape { border-radius: 5px !important; fill:#cceeff !important; cursor: move; }
  svg g text.node-name { font-weight: 800 !important }
  svg g rect.node-bar { fill: DodgerBlue !important }
  svg g text.node-value { fill:rgb(0,0,0) !important; font-size: 15px; cursor: pointer; }
  svg line.edge-line { stroke:rgb(0,0,0) !important }
  svg path.edge-head { fill:rgb(0,0,0) !important }
</style>

<script>
    
  var graph = jsbayes.newGraph();
  graph.saveSamples = false;
  
  <!-- Add nodes to graph -->
  {% for node in bn_model.nodes %}
  var {{ node }} = graph.addNode( '{{ node }}', [{% for state in bn_model.states[node] %} '{{ state }}',  {% endfor %}]);
  {% endfor %}
  
  <!-- Add edges to graph -->
  {% for parent, child in bn_model.edges %}
  {{child}}.addParent({{parent}});
  {% endfor %}
  
  <!-- Add CPDs to graph -->
  {% for node in bn_model.nodes %}
  {{node}}.setCpt({{squeeze_fn(bn_model.get_cpds(node).values.T.reshape((-1,2))).tolist()}});
  {% endfor %}
   
  graph.reinit();
  graph.sample(20000);

  var g = jsbayesviz.fromGraph(graph, "{{html_element_id}}");
  
  jsbayesviz.draw({
          id: '#{{html_element_id}}',
          width: 800,
          height: 400,
          graph: g,
          samples: 15000,
          canBeObserved: true,
        });
</script>
